# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# files created from AUTO 
*.exe
*.o
fort.*
b.*
d.*
s.*
AUTOJacobianExample.*
#Latex folder 
LaTeX/

#Python cache
PyScripts/__pycache__
.vscode/settings.json
